body {
	background-color: #ee5a25;
	color: white;
	text-align: center;
	margin: 100px 0 0 0;
}

h1 {
	font-size: 80px;
	font-variant: small-caps;
	letter-spacing: 2px;
}

h2 {
	letter-spacing: 1px;
	margin: 10px 0 10px 0;
}

.blocks {
	font-size: 70px;
	margin: 20px 0 20px 0;
}

a {
	color: white;
}

a:hover {
	color: white;
	opacity: 0.8;
}

.footer {
	opacity: 0.8;
	margin: 10px 0 0 0;
}